.wife{
    background-color: rgb(197, 17, 17);
    color: #0a0303;
    text-align: center;
}
.FAAF{
    background-color: yellow;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}